

.circular-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  
}

.circular-btn:hover {
  border: 2px solid #007bff;
  background-color: transparent;
  color: #007bff;
}

.circular-btn.active {
  border: 2px solid #007bff;
  background-color: transparent;
  color: #007bff;
}

.circular-btn.disabled {
  background-color: gray;
  color: white;
  border-color: transparent;
}

.btn-del {
  height: 40px;
  color: white;
  border-radius: 20px;
  background-color: red;
  border-color: transparent;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-del:hover {
  border: 2px solid red;
  background-color: transparent;
  color: red;
}

.btn-del.disabled {
  color: red;
  background-color: rgb(236, 234, 234);
}
